name: Build Beta

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 10.1/beta/**
      - .github/workflows/build-beta.yml

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
      -
        name: Set up dynamic build ARGs
        id: getargs
        run: echo "version=$(cat ./10.1/beta/VERSION)" >> $GITHUB_OUTPUT
      -
        name: Set up Docker metadata for Alpine
        id: meta-alpine
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.repository }}
            ghcr.io/${{ github.repository }}
          tags: |
            type=raw,latest-alpine-beta
            type=raw,10.1-alpine-beta
          labels: |
            org.opencontainers.image.vendor=The Goofball - goofball222@gmail.com
            org.opencontainers.image.title=UniFi Network Application
            org.opencontainers.image.description=UniFi Network Application
            org.opencontainers.image.version=${{ steps.getargs.outputs.version }}-Alpine
      -
        name: Set up Docker metadata for Debian
        id: meta-debian
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.repository }}
            ghcr.io/${{ github.repository }}
          tags: |
            type=raw,latest-debian-beta
            type=raw,10.1-debian-beta
          labels: |
            org.opencontainers.image.vendor=The Goofball - goofball222@gmail.com
            org.opencontainers.image.title=UniFi Network Application
            org.opencontainers.image.description=UniFi Network Application
            org.opencontainers.image.version=${{ steps.getargs.outputs.version }}-Debian
      -
        name: Set up Docker metadata for Ubuntu
        id: meta-ubuntu
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.repository }}
            ghcr.io/${{ github.repository }}
          tags: |
            type=raw,latest-beta
            type=raw,latest-ubuntu-beta
            type=raw,10.1-beta
            type=raw,10.1-ubuntu-beta
          labels: |
            org.opencontainers.image.vendor=The Goofball - goofball222@gmail.com
            org.opencontainers.image.title=UniFi Network Application
            org.opencontainers.image.description=UniFi Network Application
            org.opencontainers.image.version=${{ steps.getargs.outputs.version }}-Ubuntu
      -
        name: Set up Docker metadata for Debian mongo82
        id: meta-debian-mongo82
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.repository }}
            ghcr.io/${{ github.repository }}
          tags: |
            type=raw,latest-debian-mongo82-beta
            type=raw,10.1-debian-mongo82-beta
          labels: |
            org.opencontainers.image.vendor=The Goofball - goofball222@gmail.com
            org.opencontainers.image.title=UniFi Network Application
            org.opencontainers.image.description=UniFi Network Application
            org.opencontainers.image.version=${{ steps.getargs.outputs.version }}-Debian-mongo82
      -
        name: Set up Docker metadata for Ubuntu mongo82
        id: meta-ubuntu-mongo82
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.repository }}
            ghcr.io/${{ github.repository }}
          tags: |
            type=raw,latest-mongo82-beta
            type=raw,latest-ubuntu-mongo82-beta
            type=raw,10.1-mongo82-beta
            type=raw,10.1-ubuntu-mongo82-beta
          labels: |
            org.opencontainers.image.vendor=The Goofball - goofball222@gmail.com
            org.opencontainers.image.title=UniFi Network Application
            org.opencontainers.image.description=UniFi Network Application
            org.opencontainers.image.version=${{ steps.getargs.outputs.version }}-Ubuntu-mongo82
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push Alpine Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./10.1/beta
          file: ./10.1/beta/Dockerfile.alpine
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-alpine.outputs.tags }}
          labels: ${{ steps.meta-alpine.outputs.labels }}
          build-args: VERSION=${{ steps.getargs.outputs.version }}
      -
        name: Build and push Debian Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./10.1/beta
          file: ./10.1/beta/Dockerfile.debian
          platforms: linux/amd64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-debian.outputs.tags }}
          labels: ${{ steps.meta-debian.outputs.labels }}
          build-args: VERSION=${{ steps.getargs.outputs.version }}
      -
        name: Build and push Ubuntu Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./10.1/beta
          file: ./10.1/beta/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-ubuntu.outputs.tags }}
          labels: ${{ steps.meta-ubuntu.outputs.labels }}
          build-args: VERSION=${{ steps.getargs.outputs.version }}
      -
        name: Build and push Debian Docker mongo82 image
        uses: docker/build-push-action@v6
        with:
          context: ./10.1/beta
          file: ./10.1/beta/Dockerfile.debian.mongo82
          platforms: linux/amd64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-debian-mongo82.outputs.tags }}
          labels: ${{ steps.meta-debian-mongo82.outputs.labels }}
          build-args: VERSION=${{ steps.getargs.outputs.version }}
      -
        name: Build and push Ubuntu Docker mongo82 image
        uses: docker/build-push-action@v6
        with:
          context: ./10.1/beta
          file: ./10.1/beta/Dockerfile.ubuntu.mongo82
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-ubuntu-mongo82.outputs.tags }}
          labels: ${{ steps.meta-ubuntu-mongo82.outputs.labels }}
          build-args: VERSION=${{ steps.getargs.outputs.version }}
