name: Build Latest

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 10.1/official/**
      - .github/workflows/build-latest.yml

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
      -
        name: Set up dynamic build ARGs
        id: getargs
        run: echo "version=$(cat ./10.1/official/VERSION)" >> $GITHUB_OUTPUT
      -
        name: Set up Docker metadata for Alpine
        id: meta-alpine
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.repository }}
            ghcr.io/${{ github.repository }}
          tags: |
            type=raw,latest-alpine
            type=raw,10.1-alpine
          labels: |
            org.opencontainers.image.vendor=The Goofball - goofball222@gmail.com
            org.opencontainers.image.title=UniFi Network Application
            org.opencontainers.image.description=UniFi Network Application
            org.opencontainers.image.version=${{ steps.getargs.outputs.version }}-Alpine
      -
        name: Set up Docker metadata for Debian
        id: meta-debian
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.repository }}
            ghcr.io/${{ github.repository }}
          tags: |
            type=raw,latest-debian
            type=raw,10.1-debian
          labels: |
            org.opencontainers.image.vendor=The Goofball - goofball222@gmail.com
            org.opencontainers.image.title=UniFi Network Application
            org.opencontainers.image.description=UniFi Network Application
            org.opencontainers.image.version=${{ steps.getargs.outputs.version }}-Debian
      -
        name: Set up Docker metadata for Ubuntu
        id: meta-ubuntu
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.repository }}
            ghcr.io/${{ github.repository }}
          tags: |
            type=raw,latest
            type=raw,10.1
            type=raw,latest-ubuntu
            type=raw,10.1-ubuntu
          labels: |
            org.opencontainers.image.vendor=The Goofball - goofball222@gmail.com
            org.opencontainers.image.title=UniFi Network Application
            org.opencontainers.image.description=UniFi Network Application
            org.opencontainers.image.version=${{ steps.getargs.outputs.version }}-Ubuntu
      -
        name: Set up Docker metadata for Debian nomongo
        id: meta-debian-nomongo
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.repository }}
            ghcr.io/${{ github.repository }}
          tags: |
            type=raw,latest-debian-nomongo
            type=raw,10.1-debian-nomongo
          labels: |
            org.opencontainers.image.vendor=The Goofball - goofball222@gmail.com
            org.opencontainers.image.title=UniFi Network Application
            org.opencontainers.image.description=UniFi Network Application
            org.opencontainers.image.version=${{ steps.getargs.outputs.version }}-Debian-nomongo
      -
        name: Set up Docker metadata for Ubuntu nomongo
        id: meta-ubuntu-nomongo
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.repository }}
            ghcr.io/${{ github.repository }}
          tags: |
            type=raw,latest-nomongo
            type=raw,latest-ubuntu-nomongo
            type=raw,10.1-nomongo
            type=raw,10.1-ubuntu-nomongo
          labels: |
            org.opencontainers.image.vendor=The Goofball - goofball222@gmail.com
            org.opencontainers.image.title=UniFi Network Application
            org.opencontainers.image.description=UniFi Network Application
            org.opencontainers.image.version=${{ steps.getargs.outputs.version }}-Ubuntu-nomongo
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push Alpine Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./10.1/official
          file: ./10.1/official/Dockerfile.alpine
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-alpine.outputs.tags }}
          labels: ${{ steps.meta-alpine.outputs.labels }}
          build-args: VERSION=${{ steps.getargs.outputs.version }}
      -
        name: Build and push Debian Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./10.1/official
          file: ./10.1/official/Dockerfile.debian
          platforms: linux/amd64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-debian.outputs.tags }}
          labels: ${{ steps.meta-debian.outputs.labels }}
          build-args: VERSION=${{ steps.getargs.outputs.version }}
      -
        name: Build and push Ubuntu Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./10.1/official
          file: ./10.1/official/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-ubuntu.outputs.tags }}
          labels: ${{ steps.meta-ubuntu.outputs.labels }}
          build-args: VERSION=${{ steps.getargs.outputs.version }}
      -
        name: Build and push Debian Docker nomongo image
        uses: docker/build-push-action@v6
        with:
          context: ./10.1/official
          file: ./10.1/official/Dockerfile.debian.nomongo
          platforms: linux/amd64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-debian-nomongo.outputs.tags }}
          labels: ${{ steps.meta-debian-nomongo.outputs.labels }}
          build-args: VERSION=${{ steps.getargs.outputs.version }}
      -
        name: Build and push Ubuntu Docker nomongo image
        uses: docker/build-push-action@v6
        with:
          context: ./10.1/official
          file: ./10.1/official/Dockerfile.ubuntu.nomongo
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-ubuntu-nomongo.outputs.tags }}
          labels: ${{ steps.meta-ubuntu-nomongo.outputs.labels }}
          build-args: VERSION=${{ steps.getargs.outputs.version }}
